* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

img {
  width: 20px;
  height: 20px;
}

.main_list {
  width: 55vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgb(82, 82, 82);
}

.list_headline {
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.form_input {
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.add_to_list {
  width: 70%;
  border: none;
}

.add_to_list::placeholder {
  font-style: italic;
}

li {
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.list_task {
  align-items: center;
  justify-content: center;
}

.break_line_list {
  padding: 0;
}

.checkbox {
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  margin-right: 10px;
}

button {
  width: 100%;
  height: 50px;
  background-color: #ebebeb;
  border: none;
  color: gray;
  cursor: pointer;
}

.input_task {
  width: 70%;
  border: none;
}

.edit {
  width: 80%;
}

.done {
  text-decoration: line-through;
  text-decoration-color: black;
  color: gray;
}
